/*================================================
Base
================================================*/

html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}

/*=============================================
Éléments
==============================================*/

/*------------ Base----------*/
.wrapper{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-size: 16px;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
p{
    margin: 0;
}


/*===========================================
COMPONENTS
=============================================*/

/*-----------Header---------*/
h1{
    font-family: "Dosis", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 43.34px;
}
.logo{
    display: flex;
    align-items: center;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    gap: 30px;
}
header a{
    font-family: "Dosis", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #000000;

}
header a:hover{
    background-color: #0E5EA1;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
}

/*-------------Section HERO----------*/
.hero{
    background-image: url(../images/montagnes-banniere.jpg);
    background-repeat: no-repeat;
    height: 450px;
    background-position: center; 
}
.hero .wrapper{
    display: flex;
    justify-content: center;
}
.texte-banniere{
    margin-top: 165px;
    padding: 30px 20px;
    background-color: #00000070;
    border-radius: 10px;
}
h2{
    font-family: "Dosis", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}
.hero p{
    text-align: center;
    color: #2FCB48;
    font-family: "Roboto", serif;
    font-size: 20px;
    margin: 0;
}

/*---------------Section contenu-----------*/
.contenu .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.contenu{
    background-color: #E3E4E4;
    padding-top: 42px;
    padding-bottom: 42px;
}
article{
    padding-left: 10px;
    padding-right: 10px;

    border-bottom: 5px  #0E5EA1 solid;
    border-top: 10px  #FFFFFF solid;

    max-width: 320px;
    background-color: #FFFFFF;
}

.skieur p{
    padding-bottom: 20px;
}
.chalet p{
    padding-bottom: 120px;
}
.maison-moderne p{
    padding-bottom: 45px;
}

.pied-page{
    margin-top: 40px;
}
h3{
    font-family: "Dosis", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
article p{
    font-family: "Roboto", serif;
    font-size: 16px;
    line-height: 160%;
}
article a{
    display: inline-block;
    font-family: "Dosis", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    
    color: #000000;
    background-color: #b7b7b7;
    
    padding: 15px 45px;
   
    border-radius: 5px;
    
    margin-bottom: 20px;
    margin-left: 75px;
}
article a:hover{
    background-color: #0E5EA1;
    color: #FFFFFF ;
}

/*------------Footer---------*/
footer{
    padding: 25px 0;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}